body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: antiquewhite;
    position: relative;
    padding-top: 250px;
}
#picture{
    position: absolute;
    top: 100px;
    left: 300px;
    border-radius: 20px;
}
.header_text{
    position: absolute;
    top: 20px ;    
    right:0;
}